@media screen and (max-width: 1320px) {

}

@media screen and (max-width: 1140px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}
________________________________________________________
sm: 540px,
md: 720px,
lg: 960px,
xl: 1140px,
xxl: 1320px
________________________________________________________